@media(max-width: 768px){
    html{
        font-size: 12px;
        overflow-x: hidden;
    } 

    .container{
        max-width: 86%;
    }

    .header_logo{
        left: 7%;
        top: 5.5vw;
        width: 50px;
    }

    .page_dancer .arrowHome { 
        top: 5.5vw;
        right: 7%;       
    }

    .header svg{
        cursor: pointer;
    }

    .header .bars{
        display: block;
    }

    .header .bars:hover path{
        fill: white;
    }

    .header .backArraw{
        display: none;
    }

    .header .backArraw:hover path{
        fill: white;
    }

    .header svg path{
        fill: #ccccd1;
    }

    header .description{
        padding: 10rem 0rem;
    }

    .header_content-inner{
        width: 100%;
        padding: 0vw 0vw ;
        position: absolute;
        right: 0%;
        top: 0%;
        z-index: 5;       
    }

    .header_content-inner .menu{ 
        padding-top: 7rem;   
        transform: translateX(100%);
        transition-duration: 1s;
        background-color: black;
    }

    .mouse_flex{
        display: none;
    }
    
    .menu ul{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.945);
    }
    
    .menu li{
        display: inline-block;
        padding: 2rem 0rem;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgb(35, 34, 49);
    }

    .menu li:hover{
        background-color:rgb(35, 34, 49);
    }
    
    .menu a{
        color: #ccccd1;
        font-size: 1rem;
        font-weight: 500;
        font-style: normal;
        padding: 0px 0px;
        transition: all .3s;
        text-transform: uppercase;
        cursor: pointer;
    }
    
    .menu a img{     
        vertical-align: middle;
        padding-right: 1rem;
        width: 5rem;
    }
    
    .menu .img_shoes{
        width: 4rem;
    }
    
    .menu a:hover{
        font-weight: 500;
        font-style: normal;
        background-image: linear-gradient(#af5b5b, #5f38b8);
        background-image: -webkit-linear-gradient(#af5b5b, #5f38b8);
        background-image: -o-linear-gradient(#af5b5b, #5f38b8);
        background-image: -moz-linear-gradient(#af5b5b, #5f38b8);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip:text;
        -webkit-text-fill-color: transparent;
    }

    .menu ul .backLi{
        display: block;
    }

    .boxForVideo video{
        margin: 0 auto;
    }
    
    .boxForVideo img{
        left: 10%;
    }

    .videoPlay{
        left: 43%;
    }
    /*-------------------------------------------------------------  */

    header .description_flex{       
        justify-content: center;
        flex-direction: column;        
    }
    
    header .description_flex p{
        width: 100%;
    }

    .h1_dan_mon{   
        font-size: 7rem;   
        line-height: 7rem;    
    }

    .h1_bold {
        font-size: 1rem;
    }

    .dancer{
        display: none;
    }

    .dance{
        width: 100%;
        text-align: center;
    }

    .cramp .dance,
    .popping .dance,
    .locking .dance,
    .hip_hop .dance{
        padding: 14vw 0vw 6vw 0vw;
    }

    .dance_flex p{
        padding: 4vw 0vw 8vw 0vw;
    }

    .popping .dance_flex p {
        width: 100%;
    }

    .footer{
        overflow: hidden;
    }

    .footer .fonMobile{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.678);
        transform: skewY(3.7deg);
        top: 2.5%;
    }

    .footer .dance_flex {
        justify-content: center;
    }

    footer .dance_text {
        width: 50%;
        margin: 0 auto;
        overflow: hidden;  
    }

    .footer .our_dancers {
        width: 80%;
        text-align: center;
        position: relative;
    }

    footer .our_dancers_flex{
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 10;
        width: 400%;
        transition-duration: 0.3s, 0.6s;
        transition-property:opacity,transform;
    }

    footer .icon_experience{
        display: none;
    }

    footer .read_more{
        display: inline;
        margin-top: 3rem;
        padding: 0.8rem 3.5rem;
    }

    footer .read_more:hover{
        margin-top: 3rem;
        padding: 0.8rem 3.5rem;
    }

    footer .button_order{
        display: none;
    }

    footer .one_dancer{
        width: 25%; 
    }

    .h1_dan_mon span {
        font-size: 3rem;
    }

    .result_change{
        position: absolute;
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: space-between;
        bottom: 43%;
        right: 0%;
    }

    .result_prev,
    .result_next{
        width: 50px;
        height: 50px;
        border-radius: 50% 50% ;
        border: 1px solid #6d7377;
        display: flex;
        justify-content: center;
        padding: 5px 5px;
        background-color: #6d7377;
        cursor: pointer;
        z-index: 5;
    }

    .result_prev svg,
    .result_next svg{
        width: 15px;
    }

    .result_prev svg path{
        fill:rgb(145, 145, 145);
    }

    .result_next svg path{
        fill:rgb(252, 252, 252);
    }


    /* стили для страницы отдельного танцора */
    .page_dancer .pattern {
        padding: 13rem 0rem 13rem 0rem;
    }

    .page_dancer .dancer_info {
        width: 100%;    
        padding: 7rem 0rem 13rem 0rem;
        margin: 0 auto;
        text-align: start;
    }

    .page_dancer .dancerMobile{ 
        display: block;
    }

    .page_dancer .reward_flex {      
        justify-content: center;       
        align-content: center;       
        flex-direction: column;
    }

    .page_dancer .one_reward {        
        width: 100%;
    }   

    .page_dancer .reward_description {
        text-align: start;
    }

    .page_dancer .reward_icon {
        width: 6%;
    }


    /* стили для форм */
    #blockForm .imgCapForForm {
      display: none;
    }
    
    .h1_thank{
       line-height: 7rem;
       width: auto;
    }   
}


@media(max-width:640px){
.h1_dan_mon {
    font-size: 5rem;
    line-height: 5rem;
}
}


@media(max-width:550px){
    footer .dance_text {
        width: 80%;
    }

    .result_change {  
        width: 130%;
        bottom: 46%;
        right: -15%;
    }

    .dance_logo{
      font-size: 4rem;
    }

    #blockForm h1{   
        font-size: 3.5rem;
        line-height: 4rem;
    }

    #blockForm .cross{
        position: absolute;
        right: 2%;
        top: 2%;
        width: 2.5rem;
        cursor: pointer;
    }
    
    #blockForm .cross path{
        fill:  rgba(255, 255, 255, 0.815);
    }
 
    .h1_thank{
        transform: translate(-5%,-80%);
    } 

    .h1_application{
        transform: translate(-6%,-3%);
        line-height: 4rem; 
    }

    #blockForm {       
        padding: 1rem 2rem 3rem 2rem;
        
    }
    
    #blockForm span {
        margin-top: 1em;
    }

    #blockForm .inputsForm input,
    #blockForm .inputsForm select{    
        width: 100%;   
    }
}


@media(max-width:360px){
    #blockForm h1{   
        font-size: 3rem;
        line-height: 4rem;
    }

    #blockForm span {
        margin-top: 1rem;
        transform: translateY(-30%);
    }

}