#form{
    position: fixed;
    display: none;
    background-color: #ffffffa8;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

#blockForm{
    background-color: #242530;
    position: relative;
    border-radius: 1rem;
    padding-bottom: 3rem;
}

#blockForm .cross{
    position: absolute;
    right: -10%;
    top: -10%;
    width: 2.5rem;
    cursor: pointer;
}

#blockForm .cross:hover path{
    fill: white;
}

#blockForm .cross path{
    fill: #5f627d;
}

#blockForm h1{
    display: inline-block;
    font-weight: 700;
    font-size: 6rem;   
    background-image:  linear-gradient(178deg, rgba(200,58,68,1) 100%, rgba(106,67,145,1) 0%);
    background-image: -webkit-linear-gradient(178deg, rgba(200,58,68,1) 0%, rgba(106,67,145,1) 100%);
    background-image: -o-linear-gradient(178deg, rgba(200,58,68,1) 0%, rgba(106,67,145,1) 100%);
    background-image: -moz-linear-gradient(178deg, rgba(200,58,68,1) 0%, rgba(106,67,145,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    -webkit-text-fill-color: transparent; 
}

.h1_application{
    transform: translate(-3%,-30%);
    line-height: 6rem; 
}

.h1_thank{
    transform: translate(-5%,-60%);
    line-height: 8rem;
    width: 35vw;
}

#blockForm span{
    display: block;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
    position: relative;
    z-index: 1;
    transform: translateY(-50%);
}

#blockForm .inputsForm{
    position: relative;
    z-index: 1;
}

#blockForm .inputsForm input,
#blockForm .inputsForm select{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #3d3f53;
    border: 1px solid #545775;
    width: 85%;
    height: 2em;
    border-radius: 1.5em;
    margin-bottom: 1em;
    font-size: 1.5em;
    color: white;
    text-align-last: center; 
    text-align: center; 
}

#blockForm .inputsForm input[type='submit']{
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-indent: 0px;
    text-shadow: none;
    display: block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    background: rgb(201,85,85);
    background: linear-gradient(0deg, rgba(201,85,85,1) 0%, rgba(106,67,145,1) 100%);
    box-sizing: border-box;
    margin: 0rem auto;
    padding: 1.6rem 2rem;
    line-height: 0rem;
    border-width: 0px;
    border-style: outset;
    border-radius: 1.5rem;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    width: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    font-family: "Geometria",'Noto Sans',"Arial", sans-serif;
    font-size: 1.2rem;
}

#blockForm .inputsForm input[type='submit']:hover{
    color: #6d428e;
    background: white;
}

#blockForm .inputsForm input:placeholder-shown{
    color: #5f627d;
}


#blockForm .inputsForm input:focus,
#blockForm .inputsForm select:focus{
    outline-width:0 ;
}

#blockForm .inputsForm input{
    margin-bottom: 1em; 
    caret-color : white;
}

#blockForm .inputsForm select{
    -webkit-appearance: none;
    background: url(../img/down-arrow.png) no-repeat 96% #3d3f53;
    background-size: 1.5rem ;
    padding-right: 1em;
    margin-bottom: 2em;
    color: #5f627d;
}

#blockForm .inputsForm option{
   color: white;
}

#blockForm .inputsForm option:disabled{
    color: #5f627d;
}

#blockForm button{
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
}

#blockForm .imgCapForForm{
    width: 80%;
    transform: rotate(-15deg);
    position: absolute;
    top: 10%;
    right: -30%;
}

#blockForm .imgCapForForm img{
    width: 100%;
}

#blockForm input[type="text"]::-moz-placeholder {color: #5f627d;}
#blockForm input[type="text"]::-webkit-input-placeholder { color: #5f627d; }
#blockForm input[type="text"]:-ms-input-placeholder { color: #5f627d; }
#blockForm input[type="text"]::-ms-input-placeholder { color: #5f627d; }
#blockForm input[type="text"]::placeholder { color: #5f627d; } 