.page_dancer{
    background:url(../img/dancer_fon.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    position: relative;
    overflow-y: hidden;
}

.page_dancer .pattern{
    position: absolute; 
    width: 100%;
    height: 100%;
    padding: 10% 0% 15% 0%;
}

.page_dancer .arrowHome{
    position: absolute;
    width: 3rem;
    top: 2.5vw;
    right: 3vw;
    z-index: 10;
    cursor: pointer;
}

.page_dancer .arrowHome:hover path{
    fill: white;
}

.page_dancer .arrowHome path{
   fill: rgb(85 85 95);
}

.page_dancer svg:not(:root) {
    overflow: visible;
}

.page_dancer .dancer{
    position: absolute; 
    width: 63%;
    left: -15%;
    bottom: 0%;
}

.page_dancer .dancer[data-name="mari_nanfo"]{
    position: absolute; 
    width: 56%;
    left: -5%;
    bottom: 0%;
}

.page_dancer .dancer[data-name="alex_taker"]{
    position: absolute; 
    width: 50%;
    left: 5%;
    top: 10%;
}

.page_dancer .dancer[data-name="tania_purka"]{
    position: absolute; 
    width: 50%;
    left: 5%;
    top: 10%;
}

.page_dancer .dancer img{ 
    width: 100%;
}

.page_dancer .dancerMobile{ 
    display: none;
}

/* описание танцора */
.page_dancer .dancer_flex{
    display: flex;
    justify-content: flex-end;
    width: 86%;
    margin: 0 auto;
}

.page_dancer .dancer_info{
    width: 45%;
    position: relative;
    z-index: 2;
    color: #ccccd1;
    padding: 7rem 0rem 13rem 0rem;
}

.page_dancer .dancer_flex p{
    width: 100%;
    text-align: justify;
    font-size: 1.05rem;
    line-height: 1.8rem;
    margin: 2rem 0vw;
}

.page_dancer .h1_bold{
    padding-bottom:2rem;
    display: none;
}

.page_dancer .h1_dan_mon{
    text-transform: none;
    font-size: 6rem;
    line-height: 6rem;
}

.page_dancer .dancer_logo img{
    width: 100%;
}

.page_dancer .victories{
    font-size:1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 2vw;
}

.page_dancer .reward_flex{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; 
    align-content: space-between;
    padding-top: 1.5rem;
}

.page_dancer .one_reward{
    display: flex;
    align-items: center;
    width: 50%;
    padding-bottom: 3rem;
}

.page_dancer .reward_icon{
    width: 15%;
}

.page_dancer .reward_icon img{
    width: 100%;
}

.page_dancer .reward_description{
    width: 85%;
    text-transform: uppercase;
    font-size: 1rem;
    padding-left: 5%;
}

.page_dancer .reward_description span:first-child{
    color: #c83a44;
}

.page_dancer .button_order{
    margin-top: 2vw;
}

.page_dancer .home_page{
    padding: 0.3rem 1.5rem 0.7rem 1.5rem;
    width: 5rem;
    height: auto;
}

.page_dancer .home_page:hover svg path{
    fill:url(#LG1);
}

.page_dancer .home_page svg{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0% 0%;
}
