
 /* общие стили */
@font-face {
    font-family: "Geometria";
    font-style: normal;
    font-display: swap;
    src: local("Geometria"),
         url("../fonts/Geometria.otf") format("otf");
}

@font-face {
    font-family: "Geometria";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: 
         local("Geometria"),
         url("../fonts/Geometria-Medium_0.otf") format("otf");
}

@font-face {
    font-family: "Geometria";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: 
         local("Geometria"),
         url("../fonts/Geometria-Italic.otf") format("otf");
}

@font-face {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: 
         local("Geometria"),
         url("../fonts/Geometria-Light.otf") format("otf");
}

@font-face {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: 
         local("Geometria"),
         url("../fonts/Geometria-Bold.otf") format("otf");
}

html {
    font-size: 1vw;
  } 

#hiddenPage{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0px;
    overflow: hidden;
}  
 
*{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	display: inline-block;
}

ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}

body{
    font-family: "Geometria",'Noto Sans',"Arial", sans-serif;
	font-weight: 400;
    color: white;
    text-transform: none;
}

.container{
	max-width: 75%;
    margin: 0 auto;
}

/* кнопки button */
.read_more,
.home_page,
.button_order{
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    background: rgb(201,85,85);
    background: linear-gradient(0deg, rgba(201,85,85,1) 0%, rgba(106,67,145,1) 100%);
    box-sizing: border-box;
    margin: 0rem;
    padding: 0.8rem 1.5rem;
    border-width: 0px;
    border-style: outset;
    border-radius: 1.5rem;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.read_more a,
.home_page a,
.button_order a{
    color: white;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    font-family: "Geometria",'Noto Sans',"Arial", sans-serif;
    font-size: 1.2rem;
}

.read_more:hover,
.home_page:hover,
.button_order:hover{
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    background: white;
    box-sizing: border-box;
    margin: 0rem;
    padding: 0.8rem 1.5rem;
    border-width: 0px;
    border-style: outset;
    border-radius: 1.5rem;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    transition-duration: 1s;
}

.read_more:hover a,
.home_page:hover a,
.button_order:hover a{   
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    font-family: "Geometria",'Noto Sans',"Arial", sans-serif;
    font-size: 1.2rem;
    background-image: linear-gradient(#af5b5b, #5f38b8);
    background-image: -webkit-linear-gradient(#af5b5b, #5f38b8);
    background-image: -o-linear-gradient(#af5b5b, #5f38b8);
    background-image: -moz-linear-gradient(#af5b5b, #5f38b8);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    -webkit-text-fill-color: transparent;
}


/* описание танца */
.dance_flex{
    display: flex;
    justify-content: start;
}

.dance{
    width: 50%;
    position: relative;
    z-index: 2;
    color: #ccccd1;
    padding: 12vw 0vw 6vw 0vw;
}

.dance video{
    -webkit-box-shadow: 27px 24px 26px -9px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 27px 24px 26px -9px rgba(0, 0, 0, 0.38);
    box-shadow: 2rem 2rem 2.2rem -0.5rem rgb(0 0 0 / 38%);
    display: block;
    opacity: 0;
}

.boxForVideo{
    position: relative;
}

.boxForVideo img{
    position: absolute;
    width: 80%;
    height: 100%;
    left: 0%;
    top: 0;
    display: block;
    -webkit-box-shadow: 27px 24px 26px -9px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 27px 24px 26px -9px rgba(0, 0, 0, 0.38);
    box-shadow: 2rem 2rem 2.2rem -0.5rem rgb(0 0 0 / 38%);
}

.videoPlay{
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 32%;
    width: 20%;
    cursor: pointer;
}

.videoPlay path{
    fill:#c7cccc;
}

.videoPlay:hover path{
    fill:#7e4181;
    transition-duration: 1s;
}

.dance_flex p{
    width: 100%;
    text-align: justify;
    font-size: 1.05rem;
    line-height: 1.8rem;
    padding: 2vw 0vw 4vw 0vw;
}

.dance_logo{
    display: inline-block;
    font-weight: 700;
    font-size: 6rem;
    text-transform: uppercase;
    background-image:  linear-gradient(132deg, rgba(200,58,68,1) 0%, rgba(106,67,145,1) 100%);
    background-image: -webkit-linear-gradient(132deg, rgba(200,58,68,1) 0%, rgba(106,67,145,1) 100%);
    background-image: -o-linear-gradient(132deg, rgba(200,58,68,1) 0%, rgba(106,67,145,1) 100%);
    background-image: -moz-linear-gradient(132deg, rgba(200,58,68,1) 0%, rgba(106,67,145,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    -webkit-text-fill-color: transparent;
    text-align: start;
    word-spacing:normal;
    letter-spacing:normal;
    margin-left: 0;
    padding-top: 3rem;
}

.transform_sections .dancer{
    transition-duration: 1s;
    transform: translateY(20%);
}

/* ------------------------------------ */
/* стили для меню сайта */

.header_logo{
    position: absolute;
    top: 2.5vw;
    left: 3vw;
    width: 4vw;
    z-index: 10;
}

.header_logo a{
    width: 100%;
}

.header_logo img{
    width: 100%;
}

.header_content-inner{
    width: 70%;
	padding: 2vw 0vw 12vw 0vw;
}

.header svg{
    width: 30px;
    position: absolute;
    right: 7%;
    top: 5.5vw;
    z-index: 10;
}

.header .bars{
    display: none;
}

.header .backArraw{
    display: none;
}

.header svg path{
    fill: white;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li{
	display: inline-block;
}

.menu a{
    color: #ccccd1;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
	padding: 0px 0px;
    transition: all .3s;
    text-transform: uppercase;
    cursor: pointer;
}

.menu a img{     
    vertical-align: middle;
    padding-right: 0.5rem;
    width: 5rem;
}

.menu .img_shoes{
    width: 4rem;
}

.menu a:hover{
    font-weight: 500;
    font-style: normal;
    background-image: linear-gradient(#af5b5b, #5f38b8);
    background-image: -webkit-linear-gradient(#af5b5b, #5f38b8);
    background-image: -o-linear-gradient(#af5b5b, #5f38b8);
    background-image: -moz-linear-gradient(#af5b5b, #5f38b8);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.menu ul .backLi{
    display: none;
}
/* ------------------------------------ */
/* стили для  header */
header{    
    background: url(../img/fon_header.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

/* описание школы для header */
header .description{
    width: 100%;
    position: relative;
    z-index: 2;
    color: #ccccd1;
}

.h1_bold{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: normal;
}

.h1_dan_mon{
    display: inline-block;
    font-weight: 700;
    font-size: 12rem;
    text-transform: uppercase;
    line-height: 12rem;
    background-image:  linear-gradient(132deg, rgba(200,58,68,1) 0%, rgba(106,67,145,1) 100%);
    background-image: -webkit-linear-gradient(132deg, rgba(200,58,68,1) 0%, rgba(106,67,145,1) 100%);
    background-image: -o-linear-gradient(132deg, rgba(200,58,68,1) 0%, rgba(106,67,145,1) 100%);
    background-image: -moz-linear-gradient(132deg, rgba(200,58,68,1) 0%, rgba(106,67,145,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    -webkit-text-fill-color: transparent;
    text-align: start;
    word-spacing:normal;
    letter-spacing:normal;
    margin-left: 0;
    position: relative;
    left: -1%;
}

.h1_dan_mon span{
    font-size: 5rem;
    position: absolute;
    -webkit-text-fill-color: white;
    top: 35%;
    right: 5%;
}

header .description_flex{
    display: flex;
    justify-content: space-between;
    padding: 3vw 0vw;
}

header .description_flex p{
    width: 47%;
    text-align: justify;    
    font-size: 1.05rem;
    line-height: 1.8rem;
}

.header_big_logo img{
    width: 100%;
}

.mouse_flex{
    display: flex;
    justify-content: center;
    padding-bottom: 16vw;
}

.mouse{
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;
    color:#ccccd1;
    cursor: pointer;  
}

.mouse img{
    width: 3rem;
}

.mouse:hover{
    color:rgb(201,85,85);
}

/* ------------------------------------ */
/* стили для cramp */
.cramp{
    position: relative;   
}

.svgCramp{
    position: absolute; 
    width: 100%;
    height: 100%;
}

.svgCramp:not(:root) {
    overflow: visible;
}

.cramp .dancer{
    position: absolute; 
    width: 55%;
    right: 0;
    bottom: -13vw;
}

.cramp .dancer img{ 
    width: 100%;
}

/* ------------------------------------ */
/* стили для locking */
.locking{
    position: relative;    
}

.locking .svgLocking{
    position: absolute; 
    width: 100%;
    height: 100%;
}

.locking svg:not(:root) {
    overflow: visible;
}

.locking .dance{
    padding: 12vw 0vw 4vw 0vw;
}

.locking .dancer{
    position: absolute; 
    width: 55%;
    left: 0;
    bottom: -19vw;
}

.locking .dancer img{ 
    width: 100%;
}

.locking .dance_flex{  
    justify-content: flex-end;    
}

.locking .dance_flex p{  
    color: white;  
}

.locking .dance_logo{
    text-transform: capitalize;
}


/* ------------------------------------ */
/* стили для popping */
.popping{
    position: relative;   
}

.popping .svgPopping{
    position: absolute; 
    width: 100%;
    height: 100%;
}

.popping svg:not(:root) {
    overflow: visible;
}

.popping .dancer{
    position: absolute; 
    width: 46%;
    right: 0;
    bottom: -37vw;
}

.popping .dancer img{ 
    width: 100%;
}

.popping .dance_flex p{  
    width: 121%;   
}

.popping .dance_flex{  
    justify-content: flex-start;    
}

.popping .dance_logo{
    text-transform: capitalize;
}
/* ------------------------------------ */
/* стили для hip_hop */
.hip_hop{
    position: relative;    
}

.hip_hop .svgHipHop{
    position: absolute; 
    width: 100%;
    height: 100%;
}

.hip_hop svg:not(:root) {
    overflow: visible;
}

.hip_hop .dance{
    padding: 12vw 0vw 2vw 0vw;
}

.hip_hop .dancer{
    position: absolute; 
    width: 49%;
    left: 0;
    bottom: -35vw;
}

.hip_hop .dancer img{ 
    width: 100%;
}

.hip_hop .dance_flex{  
    justify-content: flex-end;
}

.hip_hop .dance_flex p{  
    color: white;  
}

.hip_hop .dance_logo{
    text-transform: capitalize;
}

/* ------------------------------------ */
/* стили для  footer */
footer{
    position: relative;
    background: url(../img/footer_4.png);
    background-size:cover;
    background-repeat:no-repeat;
    color: #ccccd1;
}

.footer_img{
    position: absolute;
    width: 100%;
}

.footer_img img{
    width: 100%;
    display: block;
}

.footer .our_dancers{
    width: 35%;
    padding: 20% 0% 15% 0%;
}

.footer .dance_flex{  
    justify-content: flex-end;
    position: relative;    
}

footer .one_dancer{
    width: 40%;
    margin-bottom:5vw ;
}

footer .one_dancer:hover{
    cursor: pointer;
}

footer .one_dancer img{
    width: 100%;
    border-radius: 50%;
    padding: 0.5rem;
}

footer .one_dancer:hover img{    
    background-image: linear-gradient(#5f38b8,#af5b5b);
    background-image: -webkit-linear-gradient(#5f38b8,#af5b5b);
    background-image: -o-linear-gradient(#5f38b8,#af5b5b);
    background-image: -moz-linear-gradient(#5f38b8,#af5b5b);
}

footer .dance_logo{
    font-size: 12rem;
}

footer .our_dancers_flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    align-content:space-between;
    padding-top: 6vw;
}

footer .one_dancer .dance_logo{
    font-size: 2.2rem;
    -webkit-text-fill-color:white;
    display: block;
    padding:1rem 0rem;
}

footer .one_dancer:hover .dance_logo{
    font-size: 2.2rem;
    -webkit-text-fill-color:transparent;
    display: block;
}

footer .icon_name{
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
}

footer .icon_experience{
    font-weight: 200;
    font-style: normal;
    font-size: 1.0rem;
}

footer .dance_logo,
footer .icon_name,
footer .icon_experience{
    text-align: center;
}

footer .read_more{
    display: none;
}

.footer_reserved{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 15px;
    position: relative;
    z-index: 20;
}

.footer_reserved a{
    text-decoration: none;
    color: #ccccd1;
}

.footer_reserved a:hover{
    color: #c95555;
}

.footer .fonMobile{
    display: none;
}

.result_change{
    display: none;
}

.transform_sections{
    margin-top: -10%;
}

.transform_sections {
    margin-top: -10%;
}

.transform_sections section,
.transform_sections footer{
    margin-top: -1%;
}






